<ion-tabs>
  <app-header slot="top" [showH]="true" ></app-header>
  <ion-tab-bar style="background-color: #105493;" slot="top">
    <ion-tab-button tab="infobasica" color="dark">
      <ion-icon name="person-circle-sharp" color="dark"></ion-icon>
      <ion-label color="dark">{{ 'CREARCASOS-COMPONENT.INFO-BASICA' | translate}}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="causa" color="dark">
      <ion-icon name="walk-sharp" color="dark"></ion-icon>
      <ion-label color="dark">{{ 'CREARCASOS-COMPONENT.CAUSA' | translate}}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="expgeneral" color="dark">
      <ion-icon name="git-network-outline" color="dark"></ion-icon>
      <ion-label color="dark">{{ 'CREARCASOS-COMPONENT.EXPLORACION-GENERAL' | translate}}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="expfisica" color="dark">
      <ion-icon name="body-sharp" color="dark"></ion-icon>
      <ion-label color="dark">{{ 'CREARCASOS-COMPONENT.EXPLORACION-FISICA' | translate}}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="diagnostico" color="dark">
      <ion-icon name="thermometer-sharp" color="dark"></ion-icon>
      <ion-label color="dark">{{ 'CREARCASOS-COMPONENT.DIAGNOSTICO' | translate}}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="procedimientos" color="dark">
      <ion-icon name="cut-sharp" color="dark"></ion-icon>
      <ion-label color="dark">{{ 'CREARCASOS-COMPONENT.PROCEDIMIENTO' | translate}}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="complementos" color="dark">
      <ion-icon name="bandage-sharp" color="dark"></ion-icon>
      <ion-label color="dark">{{ 'CREARCASOS-COMPONENT.COMPLEMENTO' | translate}}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="otros" color="dark">
      <ion-icon name="clipboard-sharp" color="dark"></ion-icon>
      <ion-label color="dark">{{ 'CREARCASOS-COMPONENT.OTROS' | translate}}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>