<ion-content>
    <ion-row>
        <ion-col size="6" style="text-align: center;">
            <h5>{{ 'ASIGNADOS-COMPONENT.FOLDER-CARGAR.FOLDER-LOAD-COMPLEMENTOS.LISTA-MEDICAMENTOS' | translate}}</h5>
            <ion-card>
                <ion-list style="height: 14rem; overflow: scroll;">
                    <ion-item lines="none" *ngFor="let m of medicamentos">
                        <ion-label>{{m.nombre_medicamento}}</ion-label>
                        <ion-button slot="start" (click)="addMedicamento(m.id_medicamento,m.nombre_medicamento)"
                            shape="round">
                            <ion-icon name="add"></ion-icon>
                        </ion-button>
                    </ion-item>
                </ion-list>
            </ion-card>
        </ion-col>
        <ion-col size="6" style="text-align: center;">
            <h5>{{ 'ASIGNADOS-COMPONENT.FOLDER-CARGAR.FOLDER-LOAD-COMPLEMENTOS.LISTA-INSUMOS' | translate}}</h5>
            <ion-card>
                <ion-list style="height: 14rem; overflow: scroll;">
                    <ion-item lines="none" *ngFor="let i of insumos">
                        <ion-label>{{i.nombre_insumo}}</ion-label>
                        <ion-button slot="start" (click)="addInsumo(i.id_insumo,i.nombre_insumo)" shape="round">
                            <ion-icon name="add"></ion-icon>
                        </ion-button>
                    </ion-item>
                </ion-list>
            </ion-card>
        </ion-col>
        <ion-col size="6" style="text-align: center;">
            <h5>{{ 'ASIGNADOS-COMPONENT.FOLDER-CARGAR.FOLDER-LOAD-COMPLEMENTOS.MEDICAMENTOS-SELECCIONADOS' | translate}}</h5>
            <ion-card>
                <ion-list style="height: 14rem; overflow: scroll;">
                    <ion-item lines="none" *ngFor="let sm of selectmedicamentos ">
                        <p>
                            <span>{{ 'ASIGNADOS-COMPONENT.FOLDER-CARGAR.FOLDER-LOAD-COMPLEMENTOS.MEDICAMENTO' | translate}}: <strong>{{sm.med}}</strong> {{ 'ASIGNADOS-COMPONENT.FOLDER-CARGAR.FOLDER-LOAD-COMPLEMENTOS.CANTIDAD' | translate}}: <strong>{{sm.cant}}</strong></span><br>
                        </p>
                        <ion-button color="danger" slot="start" (click)="delMed(sm.idmed)" shape="round">
                            <ion-icon name="trash"></ion-icon>
                        </ion-button>
                    </ion-item>
                </ion-list>
            </ion-card>
        </ion-col>
        <ion-col size="6" style="text-align: center;">
            <h5>{{ 'ASIGNADOS-COMPONENT.FOLDER-CARGAR.FOLDER-LOAD-COMPLEMENTOS.INSUMOS-SELECCIONADOS' | translate}}</h5>
            <ion-card>
                <ion-list style="height: 14rem; overflow: scroll;">
                    <ion-item lines="none" *ngFor="let si of selectinsumos">
                        <p>
                            <span>{{ 'ASIGNADOS-COMPONENT.FOLDER-CARGAR.FOLDER-LOAD-COMPLEMENTOS.INSUMO' | translate}}: <strong>{{si.ins}}</strong></span>
                            <span> {{ 'ASIGNADOS-COMPONENT.FOLDER-CARGAR.FOLDER-LOAD-COMPLEMENTOS.CANTIDAD' | translate}}: <strong>{{si.cant}}</strong></span>
                        </p>
                        <ion-button color="danger" slot="start" (click)="delIns(si.idins)" shape="round">
                            <ion-icon name="trash"></ion-icon>
                        </ion-button>
                    </ion-item>
                </ion-list>
            </ion-card>
        </ion-col>
    </ion-row>
</ion-content>