<ion-tabs>
  <app-header slot="top" [showH]="true" ></app-header>
  <ion-tab-bar style="background-color: #105493;" slot="top">
    <ion-tab-button tab="infobasica" color="primary">
      <ion-icon name="person-circle-sharp" color="dark"></ion-icon>
      <ion-label color="dark"> {{ 'ASIGNADOS-COMPONENT.FOLDER-CARGAR.INFO-BASICA' | translate }} </ion-label>
    </ion-tab-button>
    <ion-tab-button tab="causa" color="primary">
      <ion-icon name="walk-sharp" color="dark"></ion-icon>
      <ion-label color="dark"> {{ 'ASIGNADOS-COMPONENT.FOLDER-CARGAR.CAUSA' | translate }} </ion-label>
    </ion-tab-button>
    <ion-tab-button tab="expgeneral" color="primary">
      <ion-icon name="git-network-outline" color="dark"></ion-icon>
      <ion-label color="dark"> {{ 'ASIGNADOS-COMPONENT.FOLDER-CARGAR.EXPLORACION-GENERAL' | translate }} </ion-label>
    </ion-tab-button>
    <ion-tab-button tab="expfisica" color="primary">
      <ion-icon name="body-sharp" color="dark"></ion-icon>
      <ion-label color="dark"> {{ 'ASIGNADOS-COMPONENT.FOLDER-CARGAR.EXPLORACION-FISICA' | translate }} </ion-label>
    </ion-tab-button>
    <ion-tab-button tab="diagnostico" color="primary">
      <ion-icon name="thermometer-sharp" color="dark"></ion-icon>
      <ion-label color="dark"> {{ 'ASIGNADOS-COMPONENT.FOLDER-CARGAR.DIAGNOSTICO' | translate }} </ion-label>
    </ion-tab-button>
    <ion-tab-button tab="procedimientos" color="primary">
      <ion-icon name="cut-sharp" color="dark"></ion-icon>
      <ion-label color="dark"> {{ 'ASIGNADOS-COMPONENT.FOLDER-CARGAR.PROCEDIMIENTO' | translate }} </ion-label>
    </ion-tab-button>
    <ion-tab-button tab="complementos" color="primary">
      <ion-icon name="bandage-sharp" color="dark"></ion-icon>
      <ion-label color="dark"> {{ 'ASIGNADOS-COMPONENT.FOLDER-CARGAR.COMPLEMENTO' | translate }} </ion-label>
    </ion-tab-button>
    <ion-tab-button tab="otros" color="primary">
      <ion-icon name="clipboard-sharp" color="dark"></ion-icon>
      <ion-label color="dark"> {{ 'ASIGNADOS-COMPONENT.FOLDER-CARGAR.OTROS' | translate }} </ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>