<ion-content>
    <ion-row>
        <ion-col size="12">
            <ion-text class="ion-text-center">
                <h5>{{ 'ASIGNADOS-COMPONENT.FOLDER-CARGAR.FOLDER-LOAD-CAUSA.CAUSAS' | translate}}</h5>
            </ion-text>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="2.4" style="text-align: center; margin: 0; top: 50%;">
            <ion-card (click)="SetCausa('1')" button="true" style="height: 100%;">
                <ion-card-content>
                    <ion-img src="../../../../assets/icon/clinadult.png"></ion-img>
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col size="2.4" style="text-align: center; margin: 0; top: 50%;">
            <ion-card (click)="SetCausa('2')" button="true" style="height: 100%;">
                <ion-card-content>
                    <ion-img src="../../../../assets/icon/clinped.png"></ion-img>
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col size="2.4" style="text-align: center; margin: 0; top: 50%;">
            <ion-card (click)="SetCausa('5')" button="true" style="height: 100%;">
                <ion-card-content>
                    <ion-img src="../../../../assets/icon/muerte.png"></ion-img>
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col size="2.4" style="text-align: center; margin: 0; top: 50%;">
            <ion-card (click)="SetCausa('3')" button="true" style="height: 100%;">
                <ion-card-content>
                    <ion-img src="../../../../assets/icon/trauma.png"></ion-img>
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col size="2.4" style="text-align: center; margin: 0; top: 50%;">
            <ion-card (click)="SetCausa('4')" button="true" style="height: 100%;">
                <ion-card-content>
                    <ion-img src="../../../../assets/icon/obstetrico.png"></ion-img>
                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>
</ion-content>