<ion-content>
  <ion-row>
    <ion-col size="12">
      <ion-text class="ion-text-center">
        <h5>{{ 'ASIGNADOS-COMPONENT.FOLDER-CARGAR.FOLDER-LOAD-EXPLORACION-FISICA.SUBTITULO' | translate}}</h5>
      </ion-text>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="4" style="text-align: center">
      <ion-card button="true">
        <ion-list style="height: 448px; overflow: scroll">
          <ion-list-header>
            <h4>{{ 'ASIGNADOS-COMPONENT.FOLDER-CARGAR.FOLDER-LOAD-EXPLORACION-FISICA.TRAUMAS' | translate}}</h4>
          </ion-list-header>
          <ion-item lines="none" *ngFor="let ct of checkboxtrauma">
            <ion-label>{{ct.nombre}}</ion-label>
            <ion-button slot="start" (click)="addTrauma(ct.nombre,ct.id)" shape="round">
              <ion-icon name="add"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-list>
      </ion-card>
    </ion-col>
    <ion-col size="4" style="text-align: center">
      <canvas #imageCanvas height="448px" width="250px" (touchstart)="startDrawing($event)" (mousedown)=" startDrawing($event)"></canvas>
      <!-- <img #bodyExpF style="height: 28rem;" src="../../../../assets/img/body.png"> (mousedown)="startDrawing($event)"(touchmove)="moved($event)" (touchend)="endDrawing($event)" -->
    </ion-col>
    <ion-col size="4" style="text-align: center">
      <ion-card button="true">
        <ion-list style="height: 448px; overflow: scroll">
          <ion-list-header>
            <h4>{{ 'ASIGNADOS-COMPONENT.FOLDER-CARGAR.FOLDER-LOAD-EXPLORACION-FISICA.TRAUMAS-ASOCIADOS' | translate}}</h4>
          </ion-list-header>
          <ion-item lines="none" *ngFor="let ct of traumalist">
            <ion-label>{{ct.pos}}. {{ct.name}}</ion-label>
            <ion-button color="danger" slot="start" (click)="delTrauma(ct.pos)" shape="round">
              <ion-icon name="trash"></ion-icon>
            </ion-button>
          </ion-item>
          <ion-button (click)="clear()" expand="block" fill="clear" shape="round">
            {{ 'ASIGNADOS-COMPONENT.FOLDER-CARGAR.FOLDER-LOAD-EXPLORACION-FISICA.LIMPIAR' | translate}}
          </ion-button>
        </ion-list>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>