<ion-menu side="start" menuId="sismenu" contentId="main">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button color="dark" menu="sismenu"></ion-menu-button>
      </ion-buttons>
      <ion-title color="dark">
        <ion-img src="../../../assets/icon/login.png"></ion-img>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list inset lines="none">
      <ion-menu-toggle>
        <ion-item *ngFor="let c of componentes" [routerLink]="c.redirectTo" [click]="c.onclick" color="#f4f5f8">
          <ion-icon [name]="c.icon" slot="start" name="log-out-outline"></ion-icon>
          <ion-label>{{ c.langLabel | translate}}</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>