<app-header></app-header>
<ion-content>
  <div class="container">
    <ion-header>
      <ion-toolbar>
        <ion-label color="dark" style="text-align: center;">
          <h2>{{ 'EXPORTARCASOS-COMPONENT.TITULO' | translate }}</h2>
        </ion-label>
      </ion-toolbar>
    </ion-header>
    <ion-row>
      <ion-col size="12">
        <ion-text class="ion-text-left">
          <h5>{{ 'EXPORTARCASOS-COMPONENT.DESCRIPCION' | translate }}
            </h5>
        </ion-text>
      </ion-col>
    </ion-row>
  </div>
</ion-content>